body {
    min-width: 1160px;
}

div,
input,
span,
a {
    box-sizing: border-box;
}


/*分页样式*/

.div.dataTables_length select {
    font-family: "黑体";
}

.example_length option {
    font-family: "黑体";
    text-align: center;
}

.dataTables_length label {
    font-family: "黑体";
}

.dateCon {
    position: relative;
}

.date>input {
    height: 31px;
    width: 260px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #dce3e6;
    color: #8aa1ac;
    background: #edf3f9;
    border-radius: 2px;
    cursor: pointer;
}

div.date b.caret_icon {
    display: inline-block;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 27px;
    top: 12px;
    border: 0;
    background: url('../../images/ic_down.png') center no-repeat;
}

.modification {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/ic_gn1_write_press.png')no-repeat left;
    margin-top: -5px;
}

.i_remove {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/ic_gn1_del_press.png')no-repeat left;
    margin-top: -3px;
}

.ic_down {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/ic_down.png')no-repeat right;
    margin-top: -5px;
    margin-left: 5px;
}

.roww {
    height: 50px;
    margin-top: 20px;
}

.span1 {
    float: left;
    line-height: 30px;
    font-size: 16px;
    color: #324148;
    font-family: "黑体";
}

.daterange {
    float: left;
}

.btn-group {
    display: inline-block;
    width: 200px;
    height: 30px;
    float: left;
    white-space: normal;
}

.btn-default {
    width: 60px;
    height: 30px;
    background: #ffffff;
    outline: none;
}

.btn-default .active {
    background: red;
}

.btn-group button {
    padding: 0 10px;
    outline: none;
}

.form-control {
    border-radius: 5px;
    background: #ffffff;
    height: 30px;
}

.ic_down_buttom {
    width: 100%;
    height: 1px;
    background: #dce3e6;
}


/* .showslider {
    width: 80%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 9px;
} */

.dataTables_info {
    display: none;
}

.tr_helpmessage {
    color: #8aa1ac;
}

div.dataTables_length select {
    width: 40px;
    text-align: center;
}

.paging_simple_numbers {
    margin-top: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    padding: 0.3em 0.9em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #8aa1ac !important;
    border: 1px solid #cacaca;
    background-color: #ffffff;
    /* W3C */
}

.dataTables_wrapper .paginate_button img {
    margin-top: -4px;
    margin-left: 1px;
}

.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 30px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #333333;
    margin-top: 10px;
    text-align: center;
}

.btn_time {
    background: #1989fa;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #dce3e6;
}

th,
td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

.table {
    background: #ffffff;
}

.table tr th,
.table tr td {
    font-family: "黑体";
    font-size: 14px;
}

.table tr th {
    font-size: 12px;
}

.short li {
    float: left;
    height: 50px;
    list-style: none;
    font-weight: 500;
    line-height: 50px;
    width: 100px;
    text-align: center;
}

.short {
    height: 50px;
    line-height: 30px;
}

.short li em {
    font-style: normal;
    color: #dce3e6;
    float: right;
}

.short li.curren {
    border-bottom: 5px solid #1989fa;
    color: #1989fa;
}

.tabl p {
    line-height: 30px;
}

.current .cccc {
    display: none;
}


/*.current {
    width: 100%;
    margin-top: 50px;
    background: #ffffff;
}*/


/* tab切换 */


/*新增*/

.recordUrl {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('../../images/table_icon.png') -24px 0 no-repeat;
}

.recordUrl:hover {
    background: url('../../images/table_icon.png') -45px 0 no-repeat;
}

.dateCon {
    width: 478px;
    float: right;
    margin-right: 77px;
}

.btn {
    padding: 4px 12px;
}

#article-content {
    float: left;
    width: 90%;
    margin-bottom: 40px;
}

.crmDescription {
    height: 70px;
    padding: 24px 20px 0 0;
}

.crmDescription p {
    font-size: 16px;
    color: #8aa1ac;
    display: inline-block;
}

.admin_text {
    float: right;
}

.crmDescription span,
.update_time span {
    font-size: 14px;
    color: #8aa1ac;
    display: inline-block;
}

.nav-tabs {
    height: 42px;
    line-height: 50px;
    position: relative;
}

.nav-tabs>li {
    height: 36px;
}

.nav-tabs>li>a {
    border: 0;
    display: inline-block;
    color: #324148;
    padding: 0;
    font-size: 16px;
}

.m_slide_block {
    display: block;
    position: absolute;
    width: 110px;
    height: 6px;
    background: #1988FB;
    min-width: 110px;
    top: 36px;
    left: 0;
}

.hideBox {
    display: none;
}

.cr_icon {
    width: 17px;
    height: 17px;
    display: inline-block;
    background-image: url('../../images/callRecord.png');
    background-repeat: no-repeat;
    margin-right: 5px;
    display: table-cell;
    padding-right: 30px;
}

.nav-tabs li>a:hover {
    color: #1989fa;
}

.slide-two {
    left: -8px;
}

#sms_icon {
    background-position: -4px -3px;
}

.nav-tabs li:nth-child(1)>a:hover>.cr_icon {
    background-position: -4px -29px!important;
}

.click_0 {
    background-position: -4px -29px!important;
}

.nav-tabs li:nth-child(2)>a:hover>.cr_icon {
    background-position: -4px -80px!important;
}

#ph_icon {
    background-position: -4px -54px;
    margin-left: 20px;
}

.click_1 {
    background-position: -4px -80px!important;
}

.split_line {
    display: inline-block;
    height: 16px;
    line-height: 20px;
    width: 1px;
    background: #ccc;
    margin-left: 20px;
}

.nav-tabs>li>a:hover {
    background-color: transparent;
}

.nav-tabs>li>a {
    margin-right: 20px;
    display: table;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: 0;
    background-color: transparent;
    color: #1989fa;
}

.nav-tabs {
    border-bottom: 0;
}

.btn-primary {
    color: #324148;
}

.btn-group label {
    padding: 6px 12px;
    height: 30px;
    vertical-align: middle;
}

.btn-group>.btn {
    height: 30px;
    line-height: 18px;
    width: 60px;
    vertical-align: middle;
    background: #fff;
    /* border: 1px solid #5A6E79 !important; */
    text-shadow: 0 0 !important;
    box-shadow: 0 0 !important;
    /* margin-right: 8px; */
    margin-left: 0 !important;
    border: 1px solid #8D9DA5;
}

.btn-group .btn.active,
.btn-group .btn:active {
    color: #fff;
    background-color: #1989fa;
    z-index: 2;
    border-color: #1989fa;
}

.btn-group input {
    box-shadow: none;
    background-image: none;
    margin: 0 0 0;
    /* margin-right: 8px; */
    padding: 8px 16px;
}

.btn-group>.btn,
.btn-group>.btn:first-child,
.btn-group>.btn:last-child {
    outline: none !important;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.btn-group>.btn:last-child:not(:first-child) {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.btn-group>.btn:first-child,
.btn-group>.btn:first-child:hover {
    border-right: 0!important;
}

.btn-group>.btn:last-child,
.btn-group>.btn:last-child:hover {
    border-left: 0!important;
}

.dateCon>.btn-group>.btn:hover {
    color: #1989fa;
    border: 1px solid #1989fa !important;
}

.dateCon>.btn-group>.btn:last-child:hover {
    color: #1989fa;
    border: 1px solid #1989fa !important;
    border-left: 0 !important;
}

.dateCon>.btn-group>.btn:first-child:hover {
    color: #1989fa;
    border: 1px solid #1989fa !important;
    border-right: 0 !important;
}

.btn-group>.btn.active,
.btn-group>.btn:active {
    border: 1px solid #1989fa;
}

.dateCon>.btn-group>.btn.active:hover,
.dateCon>.btn-group>.btn:active:hover {
    color: #fff;
}


/* .data-toggle_1,
.data-toggle_2 {
    display: inline-block;
    background: #edf3f9;
    cursor: pointer;
    border: 1px solid #ccc;
    position: relative;
    height: 30px;
} */

input {
    outline: none !important;
}

.daterange4,
.daterange5 {
    border: none;
    background: #edf3f9;
    padding: 1px 5px 0 5px;
}


/* datarangepicker按钮样式 */
.daterangepicker.opensright:before{
    left: 290px;
}
.daterangepicker.opensright:after{
    left: 290px;
}
.btn-success {
    width: 70px;
    height: 30px;
    color: #fff;
    background-color: #1989fa;
    border-color: #1989fa;
}

.btn-success:hover {
    border-color: #0d69f7;
    background-color: #0d69f7;
    color: #fff;
}

.btn-success:active,
.btn-success.active,
.btn-success:active.focus,
.btn-success.active:focus,
.btn-success.focus,
.btn-success:focus {
    border-color: #0463c2!important;
    background-color: #0463c2!important;
    color: rgba(255, 255, 255, .6)!important;
    outline: none!important;
    box-shadow: none!important;
}

.cancelBtn {
    width: 70px;
    height: 30px;
    background-color: #f9fbfd;
    border-color: #1989fa;
    color: #1989fa;
}

.cancelBtn:hover {
    border-color: #1989fa;
    background-color: #1989fa;
    color: #fff;
}

.cancelBtn:active,
.cancelBtn.active,
.cancelBtn:active.focus,
.cancelBtn.active:focus,
.cancelBtn.focus,
.cancelBtn:focus {
    border-color: #0d69f7!important;
    background-color: #0d69f7!important;
    color: rgba(255, 255, 255, .6)!important;
    outline: none!important;
    box-shadow: none!important;
}

.daterangepicker td.available:hover,.daterangepicker th.available:hover{
    background-color: #f9fbfd;
    color:#1989fa;
   }
  .daterangepicker td.active, .daterangepicker td.active:hover {
       color: #ffffff;
       background-color: #1989fa;
   }

/**datatables开始**/


/**表格整体样式开始**/

.table>thead>tr>th {
    vertical-align: bottom;
    /* border-bottom: 1px solid #dce3e6; */
    font-size: 12px;
    color: #8aa1ac;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 20px;
    border-top: 1px solid #dce3e6;
}

table.dataTable {
    /* padding: 0 20px; */
    margin-top: 0 !important;
    border-collapse: collapse!important;
}

.table tr th,
.table tr td {
    font-family: "Helvetica";
    white-space: nowrap;
    /**禁止文本换行**/
    font-weight: normal;
}

.dataTables_scroll {
    padding: 0 20px;
    background: #fff;
}


/**表格整体样式结束**
/**分页按钮样式开始**/

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover {
    color: #8aa1ac;
    cursor: not-allowed;
    background-color: #fafafa;
    border-color: #dce3e6;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover {
    z-index: 3;
    color: #8aa1ac;
    cursor: default;
    background-color: #fafafa;
    border-color: #dce3e6;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 10px;
    line-height: 1.42857143;
    color: #8aa1ac;
    text-decoration: none;
    background-color: #edf3f9;
    /*正常颜色*/
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: none;
}

.pagination>li>a:active,
.pagination>li>span:active {
    color: #8aa1ac;
    background-color: #d8dfe6;
    border-color: #d8dfe6;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 10px;
    line-height: 1.42857143;
    color: #8aa1ac;
    text-decoration: none;
    background-color: #edf3f9;
    /*正常颜色*/
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: none;
    border: 1px solid #d8dfe6;
}

.pagination>li>a:hover {
    color: #324148;
    background-color: #edf3f9;
    border-color: #d8dfe6;
}

.pagination>li>a:active,
.pagination>li>span:active {
    color: #8aa1ac;
    background-color: #d8dfe6;
    border-color: #d8dfe6;
}

img {
    vertical-align: baseline;
}


/**分页按钮样式结束**/


/**每页显示数量开始**/

.dataTables_length {
    margin-top: 10px;
    color: #8aa1ac;
    text-align: center;
}

.dataTables_length label {
    color: #8aa1ac;
    float: left;
    font-weight: 100;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 60px;
    height: 34px;
    display: inline-block;
    background: #edf3f9;
}

select.form-control {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

select.form-control.input-sm {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #8aa1ac;
}


/* 导出CSV*/

.table-responsive {
    overflow: visible;
}

.dataTables_wrapper {
    position: relative;
}

.dt-buttons {
    position: absolute;
    right: 0;
    top: -50px;
    margin-left: 0;
    width: 76px;
    overflow: visible;
    height: 30px;
    line-height: 30px;
}

.table-responsive .dt-buttons .buttons-html5,
.table-responsive .dt-buttons .buttons-colvis {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

.dt-buttons .btn-default {
    width: 76px;
    height: 30px;
    line-height: 23px;
    border: 1px solid #9e8adb !important;
    background-color: #f0effa;
    color: #9e8adb;
    font-size: 12px;
    border-radius: 2px !important;
}

.btn-group>.btn.btn-default {
    border-left: 1px solid #9e8adb !important;
    border-right: 1px solid #9e8adb !important;
}

.table-responsive .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    margin-right: 20px;
}

.btn-group>.btn:last-child:not(:first-child) {
    margin-right: 15px;
}

.dt-buttons .btn-default:hover {
    color: #fff;
    background: #9e8adb;
}

.dt-buttons .btn-default:active,
.dt-buttons .btn-default:active,
.dt-buttons .btn-default:focus,
.dt-buttons .btn-default.focus,
.dt-buttons .btn-default.active.focus,
.dt-buttons .btn-default.active:focus,
.dt-buttons .btn-default.active:hover,
.dt-buttons .btn-default:active.focus,
.dt-buttons .btn-default:active:focus,
.dt-buttons .btn-default:active:hover,
.dt-buttons .btn.active.focus,
.dt-buttons .btn.active:focus,
.dt-buttons .btn.focus,
.dt-buttons .btn:active.focus,
.dt-buttons .btn:active:focus,
.dt-buttons .btn:focus {
    color: rgba(255, 255, 255, .6);
    background-color: #927dd5;
    box-shadow: none;
    border-color: #927dd5;
    outline: none;
}


/* 导出CSV样式结束 */


/**每页显示数量结束**/


/**刷选框开始**/


/**刷选框结束**/
