html,
body,
div,
span,
ul,
li,
a,
p,
nav,
table,
th,
td,
tr {
    font-family: "Helvetica";
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background: #F9FBFD;
}

body {
    background-color: #f9fbfd;
    min-width: 1160px;
}

a {
    text-decoration: none;
    color: #324148;
}

a:hover,
a:focus {
    text-decoration: none;
}

b {
    font-weight: normal;
}


/* mm_container */

#mm_container {
    float: left;
    width: 90%;
    margin-bottom: 40px;
}

.header {
    height: 50px;
}

.crmDescription {
    height: 70px;
    padding: 24px 20px 0 0;
}

.crmDescription p {
    font-size: 16px;
    color: #8aa1ac;
    display: inline-block;
}

.admin_text {
    float: right;
}

.crmDescription span,
.update_time span {
    font-size: 14px;
    color: #8aa1ac;
    display: inline-block;
}


/* header end */


/* tasklist menu */

.message_tab {
    height: 70px;
    line-height: 30px;
    font-size: 16px;
    color: #324148;
    font-weight: bold;
    background: #F9FBFD;
    padding-top: 20px;
    position: relative;
}

.taskList {
    display: inline-block;
}

.impressionCount {
    width: 106px;
    height: 30px;
    line-height: 21px;
    padding: 5px 12px;
    background-color: #8ADB19;
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 20px;
    border-radius: 2px;
}

.mm_nav_icon {
    display: inline-block;
    width: 18px;
    height: 20px;
    vertical-align: middle;
    background-image: url('../../images/tab_icon.png');
    background-repeat: no-repeat;
    margin-right: 3px;
}

.count_icon {
    background-position: -4.5px -290px;
}

.impressionCount:hover {
    color: #fff;
    background-color: #6aca0d;
}

.impressionCount:active {
    color: rgba(255, 255, 255, .6);
    background-color: #4ab507;
}

.impressionCount:active>i {
    opacity: 0.6;
}


/* menu end */


/* table */

table.dataTable{
    padding: 0 20px;
    background: #fff;
}
.table {
    width: 100%;
    text-align: left;
}

.table thead {
    margin: 20px;
}

.table th {
    width: 10%;
    font-size: 12px;
    font-weight: normal;
    /* padding: 0 10px 10px 10px !important; */
    color: #8aa1ac;
}

.table .changeTh {
    width: 15%;
}

.table .lessTh {
    width: 7%;
}


/* dialog */

.modal-title .tipsIcon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('../../images/pic_warn.png') center no-repeat;
    margin-bottom: -2px;
    margin-right: 15px;
}

.taskConfirm,
.taskCancel {
    display: inline-block;
    width: 76px;
    height: 30px;
    line-height: 29px;
    color: #fff;
    border: 1px solid #1989fa;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    margin-left: 20px;
    padding: 0 !important;
}

.taskCancel {
    color: #1989Fa;
    background: #F4F9FF;
}

.taskConfirm,
.taskConfirm:focus {
    color: #fff;
    background: #1989Fa;
    border-radius: 2px;
}

.taskCancel:hover {
    color: #fff;
    background: #1989Fa;
    border: 1px solid #1989fa;
}

.taskConfirm:hover {
    color: #fff;
    background: #0D69F7;
    border: 1px solid #0D69F7;
}

.taskConfirm:active {
    color: rgba(255, 255, 255, .6);
    background: rgba(4, 99, 193, 1);
}

.taskCancel:active,
.taskCancel.active {
    color: rgba(255, 255, 255, .6);
    background: rgba(13, 105, 247, 1);
}

.taskConfirm.active.focus,
.taskConfirm.active:focus,
.taskConfirm.focus,
.taskConfirm:active.focus,
.taskConfirm:active:focus,
.taskConfirm:focus {
    color: rgba(255, 255, 255, .6);
    background-color: rgba(4, 99, 193, 1);
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    box-shadow: none;
    outline: none;
}

.modal-content {
    position: fixed;
    width: 450px;
    border-radius: 2px;
    padding: 15px 40px;
}

.smsFilter {
    width: 600px;
}

.modal-dialog {
    left: 50%;
    top: 50%;
    margin-top: 200px;
    margin-left: -225px;
}

.modal-header,
.modal-footer {
    border-bottom: 0;
    border-top: 0;
}

.modal-header {
    text-align: center;
    padding: 0;
}

h4 {
    font-size: 22px;
    color: #324148;
    padding: 0;
}

.modal-body {
    padding: 30px 0;
    text-align: left;
    font-size: 14px;
    color: #324148;
}

.row {
    background-color: #f9fbfd;
    margin-left: 0;
    font-weight: normal;
    margin-right: 0;
}

.row input {
    width: 75%;
    font-weight: normal;
    border: 1px solid #d8dfe6;
    padding-left: 10px;
}

.row span {
    font-size: 14px;
    color: #324148;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn+.btn {
    margin-left: 20px;
}

.taskConfirm:hover,
.taskConfirm:focus {
    border: 0;
}


/*动态显示表格列开始*/

.showcol {
    width: 20px;
    height: 28px;
    display: inline-block;
    position: absolute;
    left: 93.5%;
    top: 22.5%;
    line-height: 28px;
    text-align: center;
    background: #ffffff;
    z-index: 1111;
    color: #8aa1ac;
}

.showul li {
    margin-left: 10px;
    font-size: 14px;
    color: #324148;
}

.showul {
    list-style: none;
    display: none;
    position: absolute;
    left: 87%;
    top: 28%;
    background: #FFFFFF;
    border: 1px solid #ccc;
    width: 140px;
    padding: 10px;
    z-index: 3333;
}

.showul li input {
    vertical-align: text-bottom;
    margin-bottom: 2px;
    *margin-bottom: -2px;
}


/*动态显示表格列结束*/


/**datatables开始**/
.table-responsive{
    border: 0;
}
.table>thead>tr>th {
    vertical-align: bottom;
    font-size: 12px;
    color: #8aa1ac;
    padding: 20px;
    border-bottom: 0!important;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td {
    padding: 20px;
    border-top: 1px solid #dce3e6;
}

.table>tbody>tr:first-child {
    border-top: 0!important;
}

th,
td {
    white-space: nowrap;
}

.table tr th,
.table tr td {
    font-family: "Helvetica";
}

.table tr th {
    font-size: 12px;
    color: #8aa1ac;
}

.dataTables_scroll {
    padding: 10px 20px 0px 20px;
    background: #fff;
}

table.dataTable {
    width: 100%!important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.dataTables_length {
    /**左下角每页显示数量**/
    margin-top: 10px;
    color: #8aa1ac;
    text-align: center;
}

.dataTables_length label {
    color: #8aa1ac;
    float: left;
    font-weight: 100;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 60px;
    height: 34px;
    display: inline-block;
    background: #edf3f9;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 10px;
    line-height: 1.42857143;
    color: #8aa1ac;
    text-decoration: none;
    background-color: #edf3f9;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: none;
}

select.input-sm {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #8aa1ac;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #8aa1ac;
    cursor: default;
    background-color: #fafafa;
    border-color: #dce3e6;
}

.form-control {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #8aa1ac;
    cursor: not-allowed;
    background-color: #fafafa;
    border-color: #dce3e6;
}

input.form-control {
    width: 500px;
}

input.form-control.input-sm {
    text-indent: 0px;
    margin-right: 20px;
    height: 30px;
}
div.dataTables_wrapper div.dataTables_paginate{
    background-color: #f9fbfd;
}
div.dataTables_wrapper div.dataTables_length label{
    margin-top: 0;
}

/**datatables结束**/


/*    yjx修改样式*/

.surface {
    margin-top: 30px;
}

.date input {
    float: right;
    height: 28px;
    border: none;
    width: 190px;
    font-size: 14px;
    text-indent: 10px;
}

.daterange1 {
    border: none;
    background: #edf3f9;
    padding: 0 5px;
}

.dropdown-menu>li>a {
    padding: 3px 10px;
}

.data-toggle_1 {
    display: inline-block;
    background: #edf3f9;
    cursor: pointer;
    border: 1px solid #ccc;
}

.btn.active {
    box-shadow: none;
}

.caret {
    margin-left: 5px;
}

.timeList {
    height: 30px;
    line-height: 30px;
    width: 90px;
    float: left;
}

.analyseList li {
    display: block;
    padding: 8px 0;
}

.stop {
    margin-left: 3px;
    color: #1989fa;
    border-bottom: 1px solid #1989fa;
    cursor: pointer;
}

.stop:hover {
    color: #0463c2;
    border-bottom: 1px solid #0463c2;
}

.refresh {
    margin-left: 3px;
    color: #1989fa;
    border-bottom: 1px solid #1989fa;
    cursor: pointer;
}

.refresh:hover {
    color: #0463c2;
    border-bottom: 1px solid #0463c2;
}

.taskDetailImage {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('../../images/table_icon.png');
    background-position: -25px -62px;
    background-repeat: no-repeat;
}
.taskDetailImage:hover{
    background-position: -46px -62px;
}
